.screen-max-width{
    max-width: 1100px;
    margin: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
nav ul{
    display: flex;
gap: 30px;
list-style: none;
}
nav ul a{
    text-decoration: none;
    color:rgb(137, 135, 161);
    font-weight: 400;
    
}
.card-price{
    font-weight: 400;
}
.banner-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:80px ;
    overflow: hidden;

  
    
}
.banner-left h1{
   
   font-weight: 700;
   font-size: 4rem;
}
.banner-headline{
    color: rgb(233, 90, 8);
}
.banner-left p{
    color: rgba(0, 0, 0, 0.5);
    
}

.card-item-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    text-align: center;
    overflow: hidden;
}
.card-container{
    text-align: center;
    margin-top: 60px;
}
.card-item-container img{
   width: 100%;
}




@media screen and (max-width:576px) {
    nav ul li{
     display: none;
    }
    .banner-container{
     flex-direction: column;
    }
    .banner-left{
        order: 2;
    }
    .banner-right{
        order: 1;
       
    }
     .card-item-container{
        grid-template-columns: repeat(2,1fr);

    }
    
}